@import '../navbar/navbar.component.scss';

@media (min-width: $max-width-toggle-navbar) {
  .main-panel {
    padding-left: $navbar-width;
  }
}
@media (max-width: $max-width-toggle-navbar) {
    .main-panel {
      padding-left: 0px;
    }
  }

.jh-card {
  margin-top: 0px;
  height: 100%;
  padding: 0px;
}

.main-panel {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 100%;
}

.outlet {
  height: 100%;
}
