<jhi-page-ribbon></jhi-page-ribbon>


<div class="container-fluid main-panel">
  <div class="card jh-card">
    <router-outlet></router-outlet>
    <div class="source-banner">
      <span><span jhiTranslate="global.main.sourcecode_at">Source code at</span> <a rel="noopener noreferrer" title="GitHub" target="_blank" href="https://github.com/Eryalito/eryalus-website" jhiTranslate="global.main.github"></a></span>
    </div>
  </div>

  <!-- <jhi-footer></jhi-footer> -->
</div>
<div>
  <router-outlet name="navbar"></router-outlet>
</div>
