@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$max-width-toggle-navbar: 768px;
$navbar-width: 250px;
/* ==========================================================================
Navbar
========================================================================== */

@media (min-width: $max-width-toggle-navbar) {
  .navbar-expand-md {
    flex-flow: column nowrap;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $navbar-width;
    ul {
      align-self: baseline;
      align-items: center;
    }
    ul.navbar-nav {
      flex-direction: column;
    }
  }
  .navbar-brand {
    margin-top: 16px;
  }
}
@media (max-width: ($max-width-toggle-navbar - 1)) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 500;
    font-family: pixel;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 90px;
  width: 100%;
  display: block;
  background: url('../../../content/images/logo.png') no-repeat center center;
  background-size: contain;
}

.logo {
  margin-left: 0px;
  margin-right: 0px;
}


.navbar-title {
  display: block;
  text-align: center;
  font-family: pixel;
}

.navbar-toggler {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
}

.anchor {
  margin-top: 1rem;
}

.navbar-div {
  flex-direction: column;
}
.navbar-footer {
  display: flex;  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 16px;
}
.icon{
  margin-left: 5px;
  margin-right: 5px;
  color:inherit;
  &.left {
  margin-left: auto;
  }

  &.right {
    margin-right: auto;
  }

  &.github:hover {
    color:black;
  }
  &.twitter:hover {
    color:white;
  }
  &.mail:hover {
    color:white;
  }
  &.linkedin:hover {
    color: #0A66C2;
  }
}