<div class="home-panel">
  <a id="hello"></a>
  <span class="title"><h1 jhiTranslate="home.title">Title</h1></span>
  <a class="bubble-button" href="#know-me"><span class="bubble-button-text">Know me</span></a>
  <span class="happy img-fluid rounded"></span>
</div>
<div class="home-panel">
  <a id="know-me"></a>
  <span class="title"><h1 jhiTranslate="home.title">Title</h1></span>
  <span class="bubble-button"><span class="bubble-button-text">Know me</span></span>
  <span class="happy img-fluid rounded"></span>
</div>
