<div class="home-panel">
  <a id="hello"></a>
  <span class="title"><h1 jhiTranslate="home.title">Title</h1></span>
  <a class="bubble-button" href="#know-me"><span class="bubble-button-text" jhiTranslate="global.menu.know-me">Know me</span></a>
  <span class="arrow"></span>
  <span class="arrow"></span>
</div>

<div class="know-me-panel">
  <a id="know-me"></a>
</div>


<span class="cat-frame" [hidden]="!showCatFrame">
  <span class="cat-frame-text" [jhiTranslate]="catSaying"></span>
</span>
<div class="floating-cat">
  <span #catpointer id="catpointer" class="pointer img-fluid" [hidden]="!showQuestSign"></span>
  <span class="happy img-fluid" (click)="catPress()"></span>
</div>