/* ==========================================================================
Main page styles
========================================================================== */
@import '../layouts/navbar/navbar.component.scss';
@media (min-width: $max-width-toggle-navbar) {
  .arrow {
    width: 270px;
    height: 150px;
  }
  .text-body {
    // text-align: justify;
    font-size: larger;
  } 
  .home-panel {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .know-me-panel {
    display: flex;
    flex-direction: column;
    background-color: #daebda;
    height: 100%;
  }

  .text-card {
    background-color: rgba(0,0,0,0.15);
    
    padding: 1rem;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
}
@media (max-width: $max-width-toggle-navbar) {
  .arrow {
    width: 180px;
    height: 100px;

    &.hidden {
      display: none;
    }
  }
  .text-body {
    // text-align: justify;
    font-size: medium;
  }
  .know-me-panel {
    display: flex;
    flex-direction: column;
    background-color: #daebda;
    height: fit-content;
  }

  .text-card {
    background-color: rgba(0,0,0,0.15);
    
    padding: 1rem;
    width: 80%;
    height: fit-content;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    max-width: 720px;
  }
}

a {
  text-decoration: none;
}
.title {
  font-family: pixel-title;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.cat-sleeping {
  position: relative;
  width: 50px;
  height: 25px;
  margin-left: auto;
  margin-top: 0px;
  background: url('../../content/images/cat_sleeping.gif') no-repeat center top;
  background-size: contain;
}

.arrow {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  background: url('../../content/images/arrows.gif') no-repeat center top;
  background-size: contain;
}
.bubble-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 128px;
  height: 72px;
  text-align: center;
  background: url('../../content/images/bubble-150.gif') no-repeat center top;
  background-size: contain;
}

.bubble-button-text {
  font-family: pixel;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.cat-frame {
  background-repeat: no-repeat;
  background-size: contain;
  background: url('../../content/images/cat-frame.png') no-repeat left top;
  height: 72px;
  width: 128px;
  position: fixed;
  bottom: 128px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-frame-text {
  font-family: pixel;
  font-size: smaller;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 18px;
  padding-top: 22px;
  text-align: center;
}


.floating-cat {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.pointer {
  width: 128px;
  height: 72px;
  min-height: 72px;
  min-width: 128px;
  text-align: center;
  background: url('../../content/images/pointer.gif') no-repeat center top;
  background-size: contain;
}


.happy {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url('../../content/images/happy.png') no-repeat center top;
  background-size: contain;
  // position: fixed;
  // bottom: 0;
  // right: 0;
}

.home-panel {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills-panel {
  @extend .home-panel;
  background-color: #a1c7cb;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
