/* ==========================================================================
Main page styles
========================================================================== */
$know_me_bgc: #daebda;
$know_me_bgc_dark: #bac8ba;
$skills_bgc: #d8fbff;
$skills_bgc_dark: #a1c7cb;
$know_me_tiles: "<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(120, 30%, 89%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(259, 0%, 0%, 0.58)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>";
$skill_tiles: "<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(186, 100%, 92%, 1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='0.5' stroke='hsla(120, 3%, 40%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>";
@import '../layouts/navbar/navbar.component.scss';
@media (min-width: 992px) {
  .arrow {
    width: 270px;
    height: 150px;
  }
  .text-body {
    // text-align: justify;
    font-size: larger;
  } 
  .home-panel {
    background-color: white;
    height: 100%;
    display: flex;
    min-height: 768px;
    flex-direction: column;
  }
  .know-me-panel {
    display: flex;
    flex-direction: column;
    background-color: $know_me_bgc;
    min-height: 768px;
    height: 100%;
    background-image: url("data:image/svg+xml,"+$know_me_tiles)
  }

  .skills-panel {
    display: flex;
    flex-direction: column;
    background-color: $skills_bgc;
    height: 100%;
    min-height: 768px;
    background-image: url("data:image/svg+xml,"+$skill_tiles)
  }

  .text-card {    
    padding: 1rem;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
}
@media (max-width: 992px) {
  .arrow {
    width: 180px;
    height: 100px;

    &.hidden {
      display: none;
    }
  }
  .text-body {
    // text-align: justify;
    font-size: medium;
  }
  .know-me-panel {
    display: flex;
    flex-direction: column;
    background-color: $know_me_bgc;
    height: fit-content;
    min-height: 768px;
    background-image: url("data:image/svg+xml,"+$know_me_tiles)
  }

  .skills-panel {
    display: flex;
    flex-direction: column;
    background-color: $skills_bgc;
    height: fit-content;
    min-height: 768px;
    background-image: url("data:image/svg+xml,"+$skill_tiles)
  }

  .text-card {    
    padding: 1rem;
    width: 80%;
    height: fit-content;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    max-width: 720px;
  }
}
.know-me-dark {
  background-color: $know_me_bgc_dark;
}
.skills-dark {
  background-color: $skills_bgc_dark;
}
a {
  text-decoration: none;
}
.title {
  font-family: pixel-title;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;

  h1 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.cat-sleeping {
  position: relative;
  width: 50px;
  height: 25px;
  margin-left: auto;
  margin-top: 0px;
  background: url('../../content/images/cat_sleeping.gif') no-repeat center top;
  background-size: contain;
}

.arrow {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  background: url('../../content/images/arrows.gif') no-repeat center top;
  background-size: contain;
}
.bubble-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 128px;
  height: 72px;
  min-width: 128px;
  min-height: 72px;
  text-align: center;
  background: url('../../content/images/bubble-150.gif') no-repeat center top;
  background-size: contain;
}

.bubble-button-text {
  font-family: pixel;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.cat-frame {
  background-repeat: no-repeat;
  background-size: contain;
  background: url('../../content/images/cat-frame.png') no-repeat left top;
  height: 72px;
  width: 160px;
  position: fixed;
  bottom: 128px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-frame-text {
  font-family: pixel;
  font-size: smaller;
  align-self: center;
  width: 100%;
  height: 100%;
  margin: 10px;
  margin-bottom: 18px;
  margin-top: 22px;
  text-align: center;
}


.floating-cat {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.pointer {
  width: 128px;
  height: 72px;
  min-height: 72px;
  min-width: 128px;
  text-align: center;
  background: url('../../content/images/pointer.gif') no-repeat center top;
  background-size: contain;
}


.happy {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url('../../content/images/happy.png') no-repeat center top;
  background-size: contain;
  // position: fixed;
  // bottom: 0;
  // right: 0;
}

.home-panel {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
