<div>{{ 'HELLO' | translate }}</div>
<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse navbar-div" id="navbarResponsive" [ngClass]="{'collapse': isNavbarCollapsed}">
        <ul class="navbar-nav ml-auto">
            <a class="navbar-brand logo" (click)="scrollToElement('hello'); collapseNavbar(250)">
                <span class="logo-img"></span>
                <span jhiTranslate="global.title" class="navbar-title">Eryalito</span>
            </a>
            <!-- Anchors -->
            <li class="nav-item dropdown pointer anchor">
                <a class="nav-link" (click)="scrollToElement('hello'); collapseNavbar(250)" id="">
                    <span>
                        <!-- <fa-icon icon="flag"></fa-icon> -->
                        <span class="{{ viewing === 0 ? 'focused' : '' }}">Meow</span>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown pointer">
                <a class="nav-link" (click)="scrollToElement('know-me'); collapseNavbar(250)" id="">
                    <span>
                        <!-- <fa-icon icon="flag"></fa-icon> -->
                        <span class="{{ viewing === 1 ? 'focused' : '' }}">{{ "global.know-me" | translate }}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown pointer">
                <a class="nav-link" (click)="scrollToElement('skills'); collapseNavbar(250)" id="">
                    <span>
                        <!-- <fa-icon icon="flag"></fa-icon> -->
                        <span class="{{ viewing === 2 ? 'focused' : '' }}">{{ "global.skills" | translate }}</span>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown pointer">
                <a class="nav-link" (click)="scrollToElement('experience'); collapseNavbar(250)" id="">
                    <span>
                        <!-- <fa-icon icon="flag"></fa-icon> -->
                        <span class="{{ viewing === 3 ? 'focused' : '' }}">{{ "global.experience" | translate }}</span>
                    </span>
                </a>
            </li>
            <hr class="w-100">
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                  <span>
                    <span>{{ "global.language" | translate }}</span>
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                  <li *ngFor="let language of languages">
                    <a
                      class="dropdown-item pixel language"
                      href="javascript:void(0);"
                      (click)="changeLanguage(language); collapseNavbar()"
                      >{{ language | findLanguageFromKey }}</a
                    >
                  </li>
                </ul>
              </li>
        </ul>
        <span class="navbar-footer">
            <a rel="noopener noreferrer" title="GitHub" target="_blank" class="icon github left"
                href="https://github.com/eryalito"><fa-icon [size]="'2x'" [icon]="['fab', 'github']"></fa-icon></a>
            <a rel="noopener noreferrer" title="Twitter" target="_blank" class="icon twitter"
                href="https://twitter.com/eryalito"><fa-icon [size]="'2x'" [icon]="['fab', 'twitter']"></fa-icon></a>
            <a rel="noopener noreferrer" title="Mail" target="_blank" class="icon mail"
                href="mailto:eryalito@gmail.com"><fa-icon [size]="'2x'" [icon]="'envelope'"></fa-icon></a>
            <a rel="noopener noreferrer" title="LinkedIn" target="_blank" class="icon linkedin right"
                href="https://www.linkedin.com/in/adrian-cameselle/"><fa-icon [size]="'2x'"
                    [icon]="['fab', 'linkedin']"></fa-icon></a>
        </span>
    </div>
</nav>
